.accountNickname {
  font-weight: bolder;
}

.accountOwner {
  font-weight: unset;
  margin-top: 2px;
  font-size: 0.8rem;
}

.accountCurrency {
  font-weight: unset;
  margin-top: 2px;
  font-size: 0.8rem;
}

.accountValueBaseCurrency {
  font-weight: unset;
  margin-top: 2px;
  font-size: 0.8rem;
}

.baseCurrencyWrapperDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.editValueIcon {
  height: 11px;
  width: 11px;
  margin: 0px 3px 0px 3px;
  opacity: 0;
}

.currentValueText {
  font-weight: unset;
  margin-top: 0px;
  font-size: 0.8rem;
}

.calculatedBalanceValue {
  font-weight: bolder;
  margin: 2px 4px 0px 0px;
}

.cashAccountsTable {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 200px;

  background-color: #f0ebeb;
  border-radius: 10px;
  padding: 10px;
  min-width: 390px;
}

.cashAccountsTableHeader {
  font-weight: bolder;
  width: calc(100% - 1rem);
}
.cashAccountsTableHeader,
.cashAccountsTableDataGridRow {
  display: grid;
  grid-template-columns: 40% repeat(3, 20%);
}

.cashAccountsTableDataContainer {
  overflow: auto;
}

.cashAccountsTableDataGridRow {
  padding-bottom: 3px;
  padding-top: 3px;
  border-bottom: 1px dashed rgb(54, 52, 52);
}

.cashAccountsTableDataGridRow:hover {
  background-color: #cbcdd3;
  cursor: pointer;
}

/* width */
.cashAccountsTableData::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.cashAccountsTableData::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.cashAccountsTableData::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.cashAccountsTableData::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cashAccountsTable > div.table-header {
  font-weight: 700;
}

.cashAccountsTable > div {
  border-bottom: 1px solid black;
}
