.accountNickname {
  font-weight: bolder;
}

.accountOwner {
  font-weight: unset;
  margin-top: 2px;
  font-size: 0.8rem;
}

.accountCurrency {
  font-weight: unset;
  margin-top: 2px;
  font-size: 0.8rem;
}

.accountValueBaseCurrency {
  font-weight: unset;
  margin-top: 2px;
  font-size: 0.8rem;
}

.baseCurrencyWrapperDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.editValueIcon {
  height: 11px;
  width: 11px;
  margin: 0px 0px 0px 3px;
}

.currentValueText {
  font-weight: unset;
  margin-top: 0px;
  font-size: 0.8rem;
}

.calculatedBalanceValue {
  font-weight: bolder;
  margin: 2px 4px 0px 0px;
}
