.investmentsTable {
  border-collapse: collapse;
}

.investmentsTable > thead > tr > td {
  font-weight: 600;
  /* padding: 0px 15px 7px 0px; */
  border-bottom: 1px dashed rgb(84, 82, 82);
}
.investmentsTable > tbody > tr > td {
  /* padding: 4px 15px 4px 0px; */
  vertical-align: top;
}
.investmentsTable > tbody > tr:hover {
  background-color: rgb(17, 81, 218);
  color: white;
  cursor: pointer;
}

.investmentsTable > tbody {
  font-weight: unset;
  font-size: 0.9rem;
}

tbody:hover:not(:first-child) tr td {
  /* border-radius: 10px; */
}

.columnInWideView {
}

.columnNotInNarrowTable {
}

@media only screen and (max-width: 600px) {
}
