.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 20px;
  color: white;
}

.messageText {
  text-align: center;
}
.moneyIcon {
  border-radius: 5px;
}
