body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.column-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alertFailure {
  background-color: palevioletred;
  color: bisque;
}

.alertSuccess {
  background-color: rgb(114, 213, 127);
  color: rgb(26, 24, 21);
}
